body{
	color: #fff;
	background-image: url('https://hdwallsource.com/img/2014/2/music-notes-wallpaper-16215-16714-hd-wallpapers.jpg');
	 background-repeat: no-repeat;
}
#nombre{
	color:#4A9586;
}
h2,h1{
	color:#29AFD6;
}
tr{
	color:#8CD1E6;
}
td{
	color:#FF9C42;
}